.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.top-display {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(147, 0, 246, 1) 0%, rgba(147, 0, 246, 1)20%, rgba(255, 206, 206, 1) 65%, rgba(249, 156, 25, 1) 100%);
}

.top-div {
    width: 40vw;
    display: flex;
    justify-content: center;
}


.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    padding: 10px;
}

.main-display {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 15rem;
    height: 10rem;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, rgba(147, 0, 246, 1)20%, rgb(248, 117, 117) 60%, rgba(249, 156, 25, 1) 100%);
    transition: all 500ms;
}

.card:hover {
    transform: rotate(5deg);
}

.card-btn-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    color: white;
    font-size: 1rem;
    font-weight: 800;
}

/* reuseable component styling */
.btn {
    font-weight: 800;
    border: none;
    border-radius: 5px;
    transition: all 500ms;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.form-btn{
    font-weight: 800;
    border: none;
    border-radius: 5px;
    transition: all 500ms;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.btn-add {
    color: white;
    background: linear-gradient(20deg, rgb(255, 140, 0) 0%, rgb(255, 78, 78) 55%, rgb(195, 0, 255) 100%);
}

.btn-add:hover {
    background: linear-gradient(90deg, rgb(255, 140, 0) 0%, rgb(255, 78, 78) 55%, rgb(195, 0, 255) 100%);
}

.btn-search {
    color: white;
    margin: 10px;
    background: linear-gradient(30deg, rgb(195, 0, 255) 0%, rgb(255, 78, 78) 55%, rgb(255, 140, 0) 100%);
}

.btn-search:hover {
    background: linear-gradient(120deg, rgb(195, 0, 255) 0%, rgb(255, 78, 78) 55%, rgb(255, 140, 0) 100%);
}

.btn-edit {
    width: 100%;
    margin: 5px;
    color: white;
    background: linear-gradient(63deg, rgba(255, 88, 161, 1) 0%, rgba(108, 176, 255, 1) 100%);
}

.btn-edit:hover {
    background: linear-gradient(120deg, rgba(255, 88, 161, 1) 0%, rgba(108, 176, 255, 1) 100%);
}

.btn-delete {
    width: 100%;
    color: white;
    background: rgb(255, 0, 0);
    background: linear-gradient(30deg, rgba(255, 0, 0, 1) 30%, rgb(255, 111, 0) 50%, rgba(255, 0, 0, 1) 71%);
}

.btn-delete:hover {
    background: rgb(255, 0, 0);
    background: linear-gradient(120deg, rgba(255, 0, 0, 1) 30%, rgb(255, 111, 0) 50%, rgba(255, 0, 0, 1) 71%);
}

input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
}

label {
    font-size: 1rem;
}

select {
    padding: 10px;
    border: none;
    margin: 0 10px;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
}

.form-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .4;
    position: fixed;
    z-index: 1;
    top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    border: none;
    border-radius: 10px;
    position: fixed;
    top: 30vh;
    background-color: aliceblue;
    z-index: 2;
}